{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="advantages-title" style="margin-top: 30px;">
        ВЫБЕРИТЕ ВИД УСЛУГИ
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for type in types %}
        <div v-for="for type in types" class="col">
            <div class="card" style="margin-top: 30px; margin-bottom: 30px;">
                <img class="card-img-top" src="{{ type.image.url }}" style=" height: 400px; width: auto;"/>
                <div class="card-body" style="font-family:Garamond; font-weight: bold; text-align: center;">

                    <a href="{% url 'uslugi' type.id %}" class="card-links">
                    <h5 class="card-title fw-bold">{{ type.type }}</h5>
                    </a>
                        
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}  