{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 30px; padding-left: 300px; padding-right: 300px;">
    <div class="advantages-title">
        ВХОД
    </div>
    <div class="card mb-3" style="text-align: center;">
        <div class="row g-0">
            <div>
                <div class="card-body">
                    {% if error %}
                    <div class="alert alert-danger mt-3" role="alert">
                    {{ error }}
                    </div>
                    {% endif %}
                    <p class="card-text">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit"
                                class="btn btn-primary" style="background-color: black; border: 2px solid black;">
                                Войти
                            </button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}